:root {
  /* Semantic colors */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  /* Custom palette */

  --navy-blue-100:#303179ff;
  --navy-blue-50: #7d81acff;
  
  --blue-100: #3b479fff;
  --blue-50: #b3bad8ff;

  --light-blue-100: #4697e3ff;
  --light-blue-50: #a7cafcff;

  --fucsia-100: #e9268cff;
  --fucsia-50: #f19fcbff;
  
  --orange-100: #e7882fff;
  --orange-50: #f9ca9cff;

  --yellow-100: #f0b43aff;
  --yellow-50: #ffdb93ff;

  --light-lila-100: #d8d9edff;
  --light-lila-50: #f0f2f9ff;

  --light-grey-100: #dadad9ff;
  --light-grey-50: #ecececff;
}