:root {
  /* Semantic colors */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  /* Custom palette */

  --navy-blue-100: #303179;
  --navy-blue-50: #7d81ac;
  
  --blue-100: #3b479f;
  --blue-50: #b3bad8;

  --light-blue-100: #4697e3;
  --light-blue-50: #a7cafc;

  --fucsia-100: #e9268c;
  --fucsia-50: #f19fcb;
  
  --orange-100: #e7882f;
  --orange-50: #f9ca9c;

  --yellow-100: #f0b43a;
  --yellow-50: #ffdb93;

  --light-lila-100: #d8d9ed;
  --light-lila-50: #f0f2f9;

  --light-grey-100: #dadad9;
  --light-grey-50: #ececec;
}